gradio
requests
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-chroma
langgraph
huggingface_hub
supabase
arxiv
pymupdf
wikipedia
python-dotenv
fitz
duckduckgo-search
openai-whisper
setuptools-rust
torch
numba
yt_dlp
IPython
Pillow
