gradio
requests
langchain
langfuse
langgraph-supervisor
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-groq
langchain-chroma
langgraph
huggingface_hub
supabase
arxiv
pymupdf
wikipedia
itsdangerous
python-dotenv
fitz
duckduckgo-search
openai-whisper
setuptools-rust
torch
numba
pandas
yt_dlp
IPython
Pillow
